<!DOCTYPE HTML>
<html>
<head>
<base href="/" />
<link rel="icon" href="/public/images/favicon.ico" mce_href="/public/images/favicon.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8 " />
<meta name="viewport" content="width=device-width initial-scale=1.0">
<title>欢迎来到奥噗</title>
<link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/style.css'}" />
<link rel="stylesheet" href="@{'/public/stylesheets/main-question.css'}" />

 #{get 'Styles'  /}
 
</head>
<body>
	<!-- 标题  -->
	<div class="maintitle">
		<div class="touConten">
			<div>
				<img class="opporlinklog" src="/public/img/logo_.png">
			</div>
			<div class="biaoti">
				<ul class="nav nav-pills">
					<li><a
						class="${request?.controller == 'Application' ? 'selected' : ''} biaotifont"
						href="@{Application.index}">首页</a></li>
					<li><a class="biaotifont"
						class="${request?.controller == 'Airports' ? 'selected' : ''} biaotifont"
						href="@{Airports.index}">接机</a></li>
					<li><a
						class="${request?.controller == 'Activities' ? 'selected' : ''} biaotifont"
						href="@{Activities.index}">活动</a></li>
					<li><a
						class="${request?.controller == 'QAs' ? 'selected' : ''} biaotifont"
						href="@{QuestAnsw.searchPage}">问答</a></li>
					<li><a
						class="${request?.controller == 'Charities' ? 'selected' : ''} biaotifont"
						href="@{Charities.pigination(1)}">公益</a></li>
				</ul>
			</div>

			<div class="titleSearch ">
				<form>
					<div class="search-text">
						<input class="span2 titleinput" type="text"
							placeholder="搜索感兴趣的活动、话题或人...">
					</div>
					<div class="search-pic">
						<button type="button" class="search-pic2"></button>
					</div>
				</form>
			</div>

			#{if connectedSimpleUser}
			<div class="title-username">
				<a class="connectedUser"
					href="@{SimpleUsers.infoCenter(connectedSimpleUser.id)}"> 你好， ${connectedSimpleUser.name}！</a>
				 
			 	
			</div>
				<div  class="title-user" >
					  <a href="#"><img src="/public/img/header_center.png"  title="个人中心"></a>
					</div>
					 <div  class="title-user" >
					  <a href="#"><img src="/public/img/header_message.png" title="站内通知"></a>
					</div>
					<div  class="title-user">
					  <a href="@{CSSAs.logout}"><img src="/public/img/header_exit.png" title="安全退出"></a>
					</div>
 
			#{/if} #{elseif connectedCSSA}
			<div class="title-username">
				 <a class="connectedUser"
					href="@{CSSAs.infoCenter(connectedCSSA.id)}"> 你好， ${connectedCSSA.name}！</a> 
				
			</div>

		<div  class="title-user" >
					  <a href="#"><img src="/public/img/header_center.png"  title="个人中心"></a>
					</div>
					 <div  class="title-user" >
					  <a href="#"><img src="/public/img/header_message.png" title="站内通知"></a>
					</div>
					<div  class="title-user">
					  <a href="@{CSSAs.logout}"><img src="/public/img/header_exit.png" title="安全退出"></a>
					</div>

			 
			#{/elseif} #{else}
			<div class="cssa_2">
				<a href="@{SimpleUsers.signup}"  class="cssa_1">注册</a>. <a
					href="@{SimpleUsers.login}"   class="cssa_1">登录</a>. <a href="@{CSSAs.signup}"   class="cssa_1" >CSSA注册</a>.
				<a href="@{CSSAs.login}"   class="cssa_1">CSSA登录</a>.
			</div>
			#{/else}



		</div>
	</div>
 
 	 
	
	 
 

	
	<div class="opporcontent clearfix">
	#{if flash?.error}
	 <div class="alert alert-error fade in">
	 <a class="close" data-dismiss="alert" href="#">&times;</a>
		${flash.error}
	</div>
	#{/if} #{if flash?.success}
	<div class="alert alert-success fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
  		${flash.success}
	</div>
	#{/if}
	
	
	#{doLayout /}
	 </div>
	 
	<div class="row-fluid">
		<div class="span12">
			<div class="navbar navbar-inverse navbar-fixed-bottom" style="height: 36px;">
				<div class="navbar">
					<div class="container-fluid">

						<div class="nav-collapse collapse navbar-responsive-collapse">

							<ul class="nav" id="bottom-nav">
								<li><a href="#" class="list3">&copy; opporlink&nbsp; 奥噗</a></li>
								<li><a href="#" class="list3">关于我们</a></li>
								<li><a href="#" class="list3">加入奥噗</a></li>
								<li><img src="/public/img/share_facebook.png"
									class="bottom_pic" /></li>
								<li><img src="/public/img/share_google+.png"
									class="bottom_pic" alt="" /></li>
								<li><img src="/public/img/share_twitter.png"
									class="bottom_pic" alt="" /></li>
								<li><img src="/public/img/share_weibo.png"
									class="bottom_pic" alt="" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/public/javascripts/jquery.js"></script>
 
	<script src="/public/javascripts/bootstrap.min.js"></script>
 
    <script src="  @{'/public/HeadPortrait/jquery.Jcrop.min.js'}"></script>
    <script src="  @{'/public/HeadPortrait/script.js'}"></script>
	<script src="/public/javascripts/jquery.Jcrop.js"></script>
 
	#{get 'Scripts'  /}
</body>
</html>


